* {
    margin: 0;
    padding: 0;
}

html {
    background: #FBFAEE;
    color: #333;
    line-height: 1.25em;
    font-size: 24px;
    max-width: 666px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    padding: 10px;
}

body > h1 {
    font-size: 30px;
    margin: 10px 0 30px;
    color: #000000;
}

p {
    margin: 0 0 .7em;
}

ul {
    margin: 1em 20px 1em 50px;
}

li {
    margin: .25em 0;
}

a, a:visited {
    color: #598ABA;
}

a:hover {
    color: #5C94CC;
    background: #EDECDA;
}

code {
    background: #DBDACE;
    font-size: 20px;
}

hr {
    margin: 60px 0;
}
